CONFLUX_BASE_URL=https://sandbox-api.confluxapi.com
CONFLUX_MCH_NO=your_merchant_no_here
CONFLUX_GATEWAY_NO=your_gateway_no_here
CONFLUX_APP_ID=your_app_id_here
CONFLUX_APP_SECRET=your_app_secret_here

PUBLIC_BASE_URL=https://pay.peproute.com
ADMIN_TOKEN=change_this_private_admin_token
CHECKOUT_AMOUNT_USD=1.00
CHECKOUT_DESCRIPTION=Order payment

TEST_CUSTOMER_EMAIL=test@example.com
TEST_CUSTOMER_COUNTRY=US
TEST_CUSTOMER_FIRST_NAME=Test
TEST_CUSTOMER_LAST_NAME=Buyer
TEST_CUSTOMER_PHONE=+1234567890

PORT=8787
